*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
venv/
wheels/
