version: 2.1

orbs:
  linter: talkiq/linter@2.0.0

jobs:
  toxpy:
    docker:
      - image: python:<<parameters.docker_image>>-alpine
    parameters:
      cov_version:
        default: ""
        type: string
      docker_image:
        type: string
      # TODO: figure out `<<parameters.docker_image>>.replace('.','')`
      tox_environment:
        type: string
    steps:
      - run: apk add --no-cache gcc git libffi-dev musl-dev openssh-client openssl-dev
      - checkout
      - run: pip install tox tox-factor
      - unless:
          condition: <<parameters.cov_version>>
          steps:
            - run: tox -f <<parameters.tox_environment>>
            - run: tox -e coveralls41
      - when:
          condition: <<parameters.cov_version>>
          steps:
            - run: tox -f <<parameters.tox_environment>>-cov<<parameters.cov_version>>
            - run: tox -e coveralls<<parameters.cov_version>>

  toxpypy:
    docker:
      - image: pypy:<<parameters.docker_image>>
    parameters:
      cov_version:
        type: string
      docker_image:
        type: string
    steps:
      - checkout
      - run: pip install tox tox-factor
      - run: tox -f pypy3-cov<<parameters.cov_version>>
      - run: tox -e coveralls<<parameters.cov_version>>

workflows:
  lint:
    jobs:
      - linter/pre-commit:
          # N.B. lowest common denominator, don't want to error on not using
          # the latest syntax.
          python_version: 3.6.15

  test-cpython:
    jobs:
      - toxpy:
          name: test-py3.5
          docker_image: '3.5'
          tox_environment: py35
      - toxpy:
          name: test-py3.6-cov<<matrix.cov_version>>
          docker_image: '3.6'
          tox_environment: py36
          matrix:
            parameters:
              cov_version: ['41', '5', '6']
      - toxpy:
          name: test-py3.7-cov<<matrix.cov_version>>
          docker_image: '3.7'
          tox_environment: py37
          matrix:
            parameters:
              cov_version: ['41', '5', '6']
      - toxpy:
          name: test-py3.8-cov<<matrix.cov_version>>
          docker_image: '3.8'
          tox_environment: py38
          matrix:
            parameters:
              cov_version: ['41', '5', '6']
      - toxpy:
          name: test-py3.9-cov<<matrix.cov_version>>
          docker_image: '3.9'
          tox_environment: py39
          matrix:
            parameters:
              cov_version: ['41', '5', '6']
      - toxpy:
          name: test-py3.10-cov<<matrix.cov_version>>
          docker_image: '3.10'
          tox_environment: py310
          matrix:
            parameters:
              cov_version: ['41', '5', '6']

  test-pypy:
    jobs:
      - toxpypy:
          name: test-pypy<<matrix.docker_image>>-cov<<matrix.cov_version>>
          matrix:
            parameters:
              cov_version: ['41', '5']
              docker_image: ['3-5', '3-6']
      - toxpypy:
          name: test-pypy3-7-cov<<matrix.cov_version>>
          docker_image: '3-7'
          matrix:
            parameters:
              cov_version: ['41', '5', '6']
