version: 2

jobs:
  test-py27:
    docker:
      - image: python:2.7-alpine
    steps:
      - run: apk add --no-cache gcc git libffi-dev musl-dev openssh-client openssl-dev
      - checkout
      - run: pip install tox
      - run: tox -e "py27-cov{3,4,41}-{default,pyyaml}"

  test-py33:
    docker:
      - image: python:3.3-alpine
    steps:
      - run: apk add --no-cache git openssh-client
      - checkout
      - run: pip install tox
      - run: tox -e "py33-cov{3,4,41}-{default,pyyaml}"

  test-py34:
    docker:
      - image: python:3.4-alpine
    steps:
      - run: apk add --no-cache git openssh-client
      - checkout
      - run: pip install tox
      - run: tox -e "py34-cov{3,4,41}-{default,pyyaml}"

  test-py35:
    docker:
      - image: python:3.5-alpine
    steps:
      - run: apk add --no-cache git openssh-client
      - checkout
      - run: pip install tox
      - run: tox -e "py35-cov{3,4,41}-{default,pyyaml}"

  test-py36:
    docker:
      - image: python:3.6-alpine
    steps:
      - run: apk add --no-cache git openssh-client
      - checkout
      - run: pip install tox
      - run: tox -e "py36-cov41-{default,pyyaml}"

  test-pypy2:
    docker:
      - image: pypy:2-5.8.0
    steps:
      - checkout
      - run: pip install tox
      - run: tox -e "pypy-cov{3,4,41}-{default,pyyaml}"

  test-pypy3:
    docker:
      - image: pypy:3-5.8.0
    steps:
      - checkout
      - run: pip install tox
      - run: tox -e "pypy3-cov{3,4,41}-{default,pyyaml}"

workflows:
  version: 2
  check-build-and-deploy:
    jobs:
      - test-py27
      - test-py33
      - test-py34
      - test-py35
      - test-py36
      - test-pypy2
      - test-pypy3
